header {
    margin: 0px 100px;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px 20px;
}

header nav{
    margin-right: 40px;
    margin-left: auto;
    display: flex;
    gap: 30px;
}

header div{
    display: flex;
    gap: 15px;
}

nav a, nav a:visited{
    color: #B8BECD; 
    text-decoration: none;
}

nav a:active, nav a:hover, nav a.active{
    color: #000000;
    text-decoration: underline;
}
