.loader {
  margin: 50px auto;
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top: 6px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
